<div id="edit-article" class="container mt-4">
  <div class="row">
    <div class="col-12">
      <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
        <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
          <li class="breadcrumb-item">
            <a href="/"><span class="fas fa-home"></span></a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            Edit Article
          </li>
        </ol>
      </nav>

      <%= content_tag :div, class: "row" do %>
				<div class="col">
					<div class="btn-group float-right" role="group">
						<%= link_to article_path(@article),
							class: "btn btn-sm btn-outline-dark" do %>
								<i class="fas fa-chevron-left"></i>
								Back
						<% end %>
						<%= link_to article_path(@article),
							class: "btn btn-sm btn-outline-danger",
							method: :delete, data: { confirm:
								"Are you sure you want to delete #{@article.title}?" } do %>
							<i class="fas fa-times"></i>
						  Delete
						<% end %>
					</div>
				</div>
			<% end if current_user %>

      <div class="row">
				<div class="col">
					<h2 class="display-4 text-center">
						Edit
					</h2>
				</div>
      </div>

      <%= render 'form', article: @article, accion_verb: "Edit" %>
    </div>
  </div>
</div>
